
Warehouse_Project/src/main/resources/bg/tu_varna/sit/group19/warehouse_project/configuration/hibernate.cfg.xml
Warehouse_Project/src/main/resources/bg/tu_varna/sit/group19/warehouse_project/configuration/hibernate.cfg.xml
